@import '../abstract/variaveis';

.banner {
    background: url(../../images/banner.jpg) 22% center no-repeat;
    min-height: 650px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        background-color: $cor-secundaria;
        opacity: 0.9;
        border-radius: 45px;
        h1 {
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
            text-align: center;
        }
        h2 {
            font-size: $tamanho-do-texto / 1.5;
            color: $cor-terciaria;
        }
    }
}